<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.seleuco.mame4droid"
      android:installLocation="preferExternal" android:versionName="1.2.1" android:versionCode="6">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:targetSdkVersion="15" android:minSdkVersion="7"/>
    <supports-screens
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"
          android:anyDensity="true" android:resizeable="true"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowClearUserData="true" android:hardwareAccelerated="true" android:debuggable="false">
        <activity android:name="com.seleuco.mame4droid.MAME4droid" android:label="@string/app_name"
                  android:launchMode="singleTask" 
                  android:windowSoftInputMode="stateAlwaysHidden" android:theme="@style/Theme.MAME4droid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.seleuco.mame4droid.prefs.UserPreferences" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Reloaded Preferences"/>
		<activity android:name="com.seleuco.mame4droid.HelpActivity" android:launchMode="singleTop" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Reloaded Help"/>		
		<activity android:name="com.seleuco.mame4droid.prefs.DefineKeys" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Reloaded Define Keys"/>
		<activity android:name="com.seleuco.mame4droid.prefs.ListKeys" android:theme="@style/Theme.MAME4droid.TitleBar" android:label="MAME4droid Reloaded Player Keys"/>
		<activity android:name=".prefs.KeySelect" android:label="Select Key" android:theme="@android:style/Theme.Dialog"/>
		<meta-data android:name="xperiaplayoptimized_content" android:resource="@drawable/icon"/>
    </application>    
    
</manifest> 
