//
//  MAME4iOS.xcconfig
//  MAME4iOS
//
//  Created by Todd Laney on 10/10/20.
//  Copyright © 2020 Seleuco. All rights reserved.
//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// http://codeworkshop.net/posts/xcode-build-setting-transformations
// https://nshipster.com/xcconfig/

// 1. change ORG_IDENTIFIER and DEVELOPMENT_TEAM
//    the `ORG_IDENTIFIER` is a reverse DNS string that uniquely identifies your organization.
//    you can also set the Development Team via the drop down in the Xcode project editor, for each Target.
//    you can find your TeamID [here](https://developer.apple.com/account/#/membership)

ORG_IDENTIFIER          = com.example   // CHANGE this to your Organization Identifier.
DEVELOPMENT_TEAM        = ABC8675309    // CHANGE this to your Team ID. (or select in Xcode project editor)
CURRENT_PROJECT_VERSION = 2021.7
MARKETING_VERSION       = 2021.7

// 2. enable or disable entitlements
//    tvOS TopShelf and iCloud import/export require special app entitlements

ENTITLEMENTS_TYPE = -Base
// UN-COMMENT NEXT LINE if you want a build with full entitlements
// ENTITLEMENTS_TYPE = -Full
// UN-COMMENT PREV LINE if you want a build with full entitlements

// 3. The MAME binary to link to.
//    The default is libmame-[platform].a (Latest MAME version)
//    You can point this to an earlier version of MAME,
//    such as libmame-classic-[platform].a (Classic, MAME version 0.139u1).
MAMELIB_IOS = libmame-ios.a
MAMELIB_TVOS = libmame-tvos.a
MAMELIB_MACOS = libmame-mac.a

// these should not be changed.
PRODUCT_BUNDLE_IDENTIFIER   = $(ORG_IDENTIFIER).$(PROJECT_NAME:lower)
APP_GROUP_IDENTIFIER        = group.$(ORG_IDENTIFIER).$(PROJECT_NAME:lower)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_IDENTIFIER).$(PROJECT_NAME:lower)
CODE_SIGN_ENTITLEMENTS      = $(TARGET_NAME)/$(TARGET_NAME)$(ENTITLEMENTS_TYPE).entitlements

