Package: com.seleuco.mame4ios
Name: MAME4iOS
Version: 1.5-0
Architecture: iphoneos-arm
Description: Multiple Arcade Machine Emulator.
 V1.5: Added Sixaxis support. Added button & stick size selector. Fixed permissions. Bluetooth manager fixes.
 V1.4: Added in app touch layout customization. Added hiscores saving. Added switch to force 60Hz.  Added autofire. Fixed some anonymous timers. Fixed simultaneous analog and digital input. Fixed 2nd controller mapping issues. Added support for newer Wiimotes.
 V1.3.1: iPhone 5 support. iOS 6.x compatibility. Added game filtering & favorities. Improved rom manager. Added iMpulse controller support. A lot of bug fixes.
 V1.2: Fixed compatibility issue with iOS 5.1.1 jailbreak. Added local multiplayer (up to 4 players). Added true analog control (selectable as option). Fixed Taito X system. Added P1 Player as P2,P3,P4 input option. Some bug fixes.
 V1.1: Upgraded to MAME 0.139u1. Added 4/3, pixel aspect video aspects (now works MAME menu aspect ratio selector),improved iPad touch control layout, improved ROM manager, Added emulated resolution selector to improve artwork rendering, added configuration input menus, added missing options like frameskip.
 V1.0: WIP
Homepage: http://code.google.com/p/imame4all
Maintainer: seleuco.nicator@gmail.com 
Author: David Valdeita (Seleuco)
Section: Games

